/**
 * Global styles
 */

/* Lidl Font */
@font-face {
  font-family: 'LidlFontPro';
  src: url('/assets/fonts/LidlFontPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

#root {
  width: 100%;
  height: 100%;
}
